@model List<PersonResponce>
@{
    ViewBag.Title = "Persons";
    string SortBy(string sortBy)
    {
        string sortLink = "";
        if (ViewBag.CurrentSortBy == "FirstName" && ViewBag.CurrentSortOrder == "ASC" || ViewBag.CurrentSortOrder == "ASC")
        {
            sortLink = $"/persons/index?sortBy={sortBy}&sortOrder=DESC";
        }
        else if(ViewBag.CurrentSortBy == "FirstName" && ViewBag.CurrentSortOrder == "DESC" || ViewBag.CurrentSortOrder == "DESC")
        {
            sortLink = $"/persons/index?sortBy={sortBy}&sortOrder=ASC";
        }
        return sortLink;
    }
}
<form action="/persons/index" method="get">
    <div class="row my-3">
        <div class="col">
            <select id="inputState" class="form-select" name="searchBy">
                @foreach (var field in ViewBag.SearchFields)
                {
                    if (field.Key == ViewBag.CurrentSearchBy)
                    {
                        <option value="@field.Key" selected="selected">@field.Value</option>
                    }
                    else if(field.Key != "PersonID")
                    {
                        <option value="@field.Key">@field.Value</option>
                    }
                }
            </select>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="searchString" value="@ViewBag.CurrentSearchString">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
    <table class="table table-secondary table-sm">
        <thead>
            <tr>
                <th scope="col"><a href=@SortBy("FirstName")>First Name</a></th>
                <th scope="col"><a href=@SortBy("LastName")>Last Name</a></th>
                <th scope="col"><a href=@SortBy("JobTitle")>Job Title</a></th>
                <th scope="col"><a href=@SortBy("Email")>Email</a></th>
                <th scope="col"><a href=@SortBy("DateOfBirth")>Date of Birth</a></th>
                <th scope="col"><a href=@SortBy("Age")>Age</a></th>
                <th scope="col"><a href=@SortBy("Gender")>Gender</a></th>
                <th scope="col"><a href=@SortBy("Country")>Country</a></th>
                <th scope="col"><a href=@SortBy("Address")>Address</a></th>
                <th scope="col"><a href=@SortBy("Salary")>Salary</a></th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>


            </tr>
        </thead>
        <tbody>
            @foreach (PersonResponce person in Model)
            {
                <tr>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.JobTitle</td>
                    <td>@person.Email</td>
                    <td>@person.DateOfBirth?.ToString("dd MMM yyyy ")</td>
                    <td>@person.Age</td>
                    <td>@person.Gender</td>
                    <td>@person.Country</td>
                    <td>@person.Address</td>
                    <td>@person.Salary$</td>
                    <td><button><a asp-controller="Persons" asp-action="Edit" asp-route-personID="@person.PersonID">Edit</a></button></td>
                    <td><button><a asp-controller="Persons" asp-action="Delete" asp-route-personID="@person.PersonID">Delete</a></button></td>
                </tr>
            }
        </tbody>
    </table>
</form>